body {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei, PingFang SC, Source Han Sans CN, Source Han Serif SC;
    letter-spacing: 1.2px;
    font-size: 14px;
    min-width: 0;
    user-select: none;
    background: #eee;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.fa {
    cursor: pointer;
}

.flexDiv {
    display: flex;
    align-items: center;
}

.payWechatCon {
    width: 100%;
    max-width: 1200px;
    margin: 35px auto;
    padding: 0px;
    overflow: hidden;
}

.payWechatName {
    height: 60px;
    display: flex;
}

.payWechatNameImg {
    height: 40px;
    margin-right: 20px;
}

.payWechatNameImg img {
    height: 100%;
}

.payWechatNameSpan {
    font-size: 14px;
    color: #444;
    height: 100%;
}

.payWechatTitle {
    padding: 20px;
    background: #fff;
    font-size: 22px;
    justify-content: space-between;
    color: #444444;
    margin-bottom: 10px;
}

.payWechatTitle>span:last-child {
    color: #F5222D;
    font-weight: 600;
}

.payWechatCenter {
    background: #fff;
    justify-content: center;
}

.payWechatCenterCon {
    width: 250px;
    padding: 40px 0px 60px 0px;
}

.payWechatCenterIn>div {
    text-align: center;
}

.payWechatCenterText {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.payWechatCenterText>span:last-child {
    color: #F5222D;
    font-weight: 600;
}

.payWechatCenterOut {
    height: 250px;
    width: 250px;
    justify-content: center;
    border: 1px solid #eee;
}

.payWechatCenterIn {
    /* background: #ddd; */
    width: 180px;
    height: 180px;
}

.payWechatCenterIn img {
    height: 100%;
    width: 100%;
}

.payWechatBottom {
    width: 250px;
    background: #445f85;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}

.payWechatBottom img {
    margin-right: 10px;
    width: 60px;
    min-width: 60px;
}

@media ( max-width: 640px) {
    .payWechatTitle {
        flex-wrap: wrap;
    }
    .payWechatName {
        flex-wrap: wrap;
        height: auto;
        padding: 20px;
    }
    .payWechatCon {
        margin: 15px auto;
    }
}