body {
    margin: 0;
    padding: 0;
    font-family: PingFang SC, Source Han Sans CN, Source Han Serif SC;
    letter-spacing: 1.2px;
    font-size: 14px;
    min-width: 0;
    user-select: none;
    background-color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.fa {
    cursor: pointer;
}

.flexDiv {
    display: flex;
    align-items: center;
}

.onlineExhibitionCon {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    /* background: orange; */
}

.onlineExhibitionCtrl {
    justify-content: space-between;
}

.onlineExhibitionLogo img {
    height: 35px;
    margin: 10px 0px;
}

.onlineExhibitionName {
    font-size: 14px;
    font-weight: bold;
    min-height: 36px;
}

.guan {
    padding: 2px 4px;
    background-color: #269b67;
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-left: 3px;
    font-weight: normal;
}

.onlineExhibitionNumber .bigNumber {
    color: #269B67;
    font-size: 14px;
    font-weight: bold;
}

.onlineExhibitionNumber {
    font-size: 12px;
    min-height: 36px;
}

.enterpriseFavoriteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.enterpriseFavoriteBtn .fa {
    margin-left: 5px;
    color: #F35B1A;
    font-size: 18px;
}

.enterpriseBtnWord {
    margin-right: 5px;
}

.enterpriseBtnWordA {
    display: none;
    margin-right: 5px;
}

.enterpriseTitleWord {
    font-size: 22px;
    margin-bottom: 10px;
}

.enterpriseFavoriteBtn .fa-heart {
    display: none;
}

.enterpriseFavoriteBtnOn .fa-heart-o {
    display: none;
}

.enterpriseFavoriteBtnOn .fa-heart {
    display: inline;
}

.wechatSpan {
    font-size: 18px;
    color: #00c800;
    cursor: pointer;
}

.wechatSpan:hover {
    color: #13b413;
}


/* 企业详情页面 */

.onlineExhibitionConOut {
    width: 100%;
    background: #F5f5f5;
}

.onlineExhibitionLink {
    height: 35px;
    margin: 10px 0px;
    line-height: 35px;
}

.exhibitionInfoTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.exhibitionInfoTitleLi {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.exhibitionInfoTitleLi>div {
    margin-left: 15px;
}

.exhibitionInfoTitleLi>div i {
    margin-left: 5px;
    color: #979797;
}

.exhibitionInfoTitleLi>div .wechatSpan i {
    color: #00c800;
}

.exhibitionInfoTitleLeft {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.exhibitionInfoTitleLeft>div {
    margin-right: 15px;
}

.enterprisePointOut {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.enterpriseLogo {
    height: 35px;
    background: #F5F5F5;
    position: relative;
    min-width: 158px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enterpriseLogo img {
    height: 35px;
}

.enterpriseZheng {
    height: 18px;
}

.exhibitionInfoTitleIn {
    font-size: 22px;
    margin-right: 10px;
}

.exhibitionCtrlUl {
    white-space: nowrap;
    margin: 30px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 38px;
    align-items: flex-start;
}

.exhibitionCtrlUl>li {
    font-size: 16px;
    position: relative;
    padding: 0px 10px;
}

.exhibitionCtrlUl>li:first-child {
    padding-left: 0px;
}

.exhibitionCtrlLine {
    position: absolute;
    right: 0px;
    bottom: 4px;
    height: 24px;
    width: 1px;
    background: #D8D8D8;
}

.exhibitionCtrlLiIn {
    color: #111;
    background: #fff;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
}

.exhibitionCtrlThree {
    display: none;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 6px solid #269B67;
}

.exhibitionCtrlLiOn .exhibitionCtrlLiIn {
    background: #269B67;
    color: #fff;
    font-weight: normal;
}

.exhibitionCtrlLiIn:hover {
    background: #269B67;
    color: #fff;
    font-weight: normal;
}

.exhibitionCtrlLiOn .exhibitionCtrlThree {
    display: block;
}

.exhibitionTextUl>li {
    display: none;
}

.exhibitionTextName {
    padding-bottom: 10px;
    margin-right: 15px;
}

.exhibitionTextName span {
    border-bottom: 2px solid #F35B1A;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
}

.exhibitionArticleOut {
    margin: 15px 0px 25px 0px;
}

.exhibitionArticleEdit {
    min-width: 100%;
    max-width: 100%;
}

.contactButton {
    background: #f35b1a;
    color: #fff;
    padding: 3px 12px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-bottom: 20px;
}

.exhibitionTextArticle {
    line-height: 1.5;
}

.contactButton:hover {
    background: #da4e12;
}

.contactOut {
    display: none;
}

.contactUl {
    margin: 15px 0px 25px 0px;
}

.contactUl li {
    margin: 5px 0px;
}

.enterpriseLook i {
    font-size: 18px;
    margin-right: 5px;
}

.enterpriseShopUl {
    display: flex;
    position: relative;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.exhibitionTextTitle {
    color: #269b67;
    margin-left: 15px;
    cursor: pointer;
}

.enterpriseShopUl li {
    position: relative;
    padding: 5px 15px;
    background: #F6FEEF;
    border: 1px solid #CECECE;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 25px;
    margin: 0px 30px 20px 0px;
    cursor: pointer;
}

.enterpriseShopUl li:hover {
    background-color: #e9ffd5;
    border: 1px solid #979797;
}

.enterpriseShopUl li.shopLiChecked .fa-check-circle {
    display: block;
}

.enterpriseShopUl li .fa-check-circle {
    display: none;
    position: absolute;
    right: -10px;
    top: -5px;
    font-size: 20px;
    color: #269b67;
}

.exhibitionTextWord {
    font-weight: bold;
}

.enterpriseShopUlOut {
    display: none;
}

.enterpriseInfoDown {
    font-size: 18px;
    margin-left: 5px;
}

.enterpriseInfoDownOn {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.exhibitionEditButton {
    padding: 5px 20px;
    background: #E8E8E8;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

.exhibitionEditButton:hover {
    background: #dadada;
}

.exhibitionDetermineButton {
    cursor: pointer;
    padding: 5px 20px;
    background: #E8E8E8;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    float: right;
}

.exhibitionDetermineButton:hover {
    background: #dadada;
}

.exhibitionCtrlPoint {
    position: absolute;
    left: 5px;
    top: 13px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #F35B1A;
}

.exhibitionCtrlLiOn .exhibitionCtrlPoint {
    display: none;
}

.exhibitionCtrlUl>li:hover .exhibitionCtrlPoint {
    display: none;
}

.exhibitionLogoPoint {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #F35B1A;
    margin-right: 5px;
    display: inline-block;
}

.exhibitionEditOut {
    display: none;
    padding-bottom: 20px;
}

.exhibitionCtrlUlOut {
    position: relative;
}

.mobileArrow {
    display: none;
    position: absolute;
    font-size: 18px;
    right: 0px;
    bottom: -18px;
    animation: fade 600ms infinite;
    -webkit-animation: fade 600ms infinite;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}


/* 电子样本样式 */

.sampleOut {
    border: 1px solid #CECECE;
    padding: 0px 20px 70px 20px;
    position: relative;
    min-height: 600px;
}

.samplePick {
    padding: 20px 0px;
    justify-content: space-between;
    border-bottom: 1px solid #CECECE;
    flex-wrap: wrap;
}

.samplePickTitle {
    font-size: 18px;
    padding: 8px 0px;
    border-bottom: 3px solid #F35B1A;
}

.samplePickTip {
    font-size: 12px;
    color: #979797;
}

.samplePickButton {
    padding: 8px 20px;
    background: #E8E8E8;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

.samplePickButton:hover {
    background: #dadada;
}

.sampleUploadList {
    padding: 0px 5px;
}

.sampleUploadList li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CECECE;
    padding: 10px 0px;
}

.sampleListImg {
    margin-right: 15px;
}

.sampleListImg img {
    width: 38px;
}

.sampleListCon {
    width: 100%;
}

.sampleListUp {
    justify-content: space-between;
}

.sampleListUpTitle {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.sampleListUpRemove {
    cursor: pointer;
    font-size: 24px;
    color: #979797;
}

.sampleListUpRemove:hover {
    color: #333;
}

.sampleListUpTitle:hover {
    color: #269b67;
}

.sampleListDown {
    justify-content: space-between;
    flex-wrap: wrap;
}

.sampleListDownLeft {
    color: #979797;
}

.sampleListDownRight {
    color: #444444;
}

.sampleListDownLeft .enterpriseLook {
    margin-left: 15px;
}

.sampleListDownRight .enterpriseDownShare {
    margin-left: 15px;
}

.sampleBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px 20px 10px 20px;
}


/* 企业资质页面 */

.imgUploadList {
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.imgUploadList li {
    width: 20%;
    padding: 10px;
    position: relative;
}

.imgUploadLi {
    background: #666;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgUploadLi img {
    cursor: pointer;
}

.imgH {
    height: 100%;
}

.imgW {
    width: 100%;
}

.imgPick {
    padding: 0;
}

.imgUploadRemove {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    cursor: pointer;
}

.imgUploadRemove:hover {
    background: #000;
}

.imgUploadRemove img {
    width: 12px;
    height: 12px;
}

.imgJumpCon {
    display: none;
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.imgJumpOut {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgJumpConIn {
    width: 45%;
    height: 80%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgJumpConInW {
    width: 55%;
}

.imgJumpConInH {
    width: 30%;
}

.imgJumpConIn img {
    width: 100%;
}

.imgJumpConCancel {
    position: absolute;
    right: 50px;
    top: 100px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.imgJumpConCancel:hover {
    background: #000;
}

.imgJumpConCancel img {
    width: 32px;
    height: 32px;
}

.imgJumpConLeft {
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -35px;
    cursor: pointer;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.imgJumpConLeft:hover {
    background: #000;
}

.imgJumpConLeft img {
    width: 48px;
    height: 48px;
}

.imgJumpConRight {
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -35px;
    cursor: pointer;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.imgJumpConRight:hover {
    background: #000;
}

.imgJumpConRight img {
    width: 48px;
    height: 48px;
}


/* 联系方式 */

.exhibitionContactUl li {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.exhibitionContactName {
    min-width: 80px;
}

.exhibitionContactValue {
    width: 100%;
}

.exhibitionContactValue input {
    width: 100%;
    border: 1px solid #CECECE;
}

.exhibitionContactBtn {
    padding: 8px 20px;
    background: #E8E8E8;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

.exhibitionContactBtn:hover {
    background: #dadada;
}

.contactPlaceLeft {
    width: 40%;
}

.contactPlaceRight {
    width: 60%;
    padding-left: 15px;
}

.contactPlaceCtrl {
    position: relative;
    width: 100%;
}

.contactPlaceCtrl input {
    width: 100%;
    border: 1px solid #CECECE;
}

.exhibitionContactBtnCon {
    justify-content: flex-end;
    padding-top: 25px;
}

.contactPlaceCity .city-picker-span {
    border: 1px solid #cecece;
    padding: 0px 5px;
}

.contactUlA {
    color: #269b67 !important;
}

.contactUlA:hover {
    color: #13b413 !important;
}

@media (max-width: 640px) {
    .mobileArrow {
        display: block;
    }
    .exhibitionInfoTitle {
        align-items: flex-start;
        /* padding: 0px 10px; */
        flex-wrap: wrap;
        margin-top: 5px;
    }
    .exhibitionInfoTitleIn {
        font-size: 16px;
        margin-top: 8px;
    }
    .enterpriseFavoriteBtn {
        margin-top: 10px;
    }
    .enterpriseDownShare {
        margin-top: 10px;
    }
    .onlineExhibitionCtrl {
        justify-content: space-between;
    }
    .exhibitionCtrlUl {
        /* padding: 0px 10px; */
        margin: 15px 0px;
    }
    /* .exhibitionTextUl {
        padding: 0px 10px;
    } */
    .onlineExhibitionCtrl {
        margin: 0px 10px 10px 10px;
    }
    .enterpriseLook {
        margin-top: 10px;
    }
    .exhibitionInfoTitleLi>div:first-child {
        margin-left: 0px;
    }
    .sampleOut {
        padding: 0px 10px 80px 10px;
    }
    .sampleListDownLeft {
        margin-top: 10px;
    }
    .sampleListDownLeft .enterpriseLook {
        margin-top: 0;
    }
    .sampleUploadList li {
        align-items: flex-start;
    }
    .samplePickTitleOut {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .sampleListUp {
        align-items: flex-start;
    }
    .samplePick {
        align-items: flex-start;
        padding-top: 8px;
    }
    .samplePickTitle {
        margin-bottom: 5px;
    }
    .sampleUploadList {
        padding: 0;
    }
    .enterpriseZheng {
        margin-top: 8px;
    }
    .sampleBottom {
        padding: 0px 10px 10px 10px;
    }
    .sampleListImg {
        margin-right: 5px;
    }
    .imgUploadList li {
        width: 50%;
        /* padding: 10px; */
    }
    .imgJumpConCancel {
        right: 0px;
        top: 0px;
    }
    .imgJumpConLeft {
        left: 0px;
    }
    .imgJumpConRight {
        right: 0px;
    }
    .contactPlaceLi {
        flex-wrap: wrap;
    }
    .contactPlaceLeft {
        width: 100%;
    }
    .contactPlaceRight {
        width: 100%;
        padding-left: 0px;
        margin-top: 10px;
    }
}