body {
    margin: 0;
    padding: 0;
    font-family: PingFang SC, Source Han Sans CN, Source Han Serif SC;
    letter-spacing: 1.2px;
    font-size: 14px;
    min-width: 0;
    user-select: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.fa {
    cursor: pointer;
}

.flexDiv {
    display: flex;
    align-items: center;
}

.supplyPackageCon {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0px 15px;
}

.supplyPackageConOut {
    background: #EAEAEA;
    padding: 18px 0px;
    width: 100%;
}

.supplyPackageTitle {
    display: flex;
    align-items: flex-end;
    line-height: 1.1;
}

.supplyPackageLg {
    color: #333;
    font-weight: 600;
    font-size: 32px;
    border-right: 1px solid #979797;
    line-height: 1.1;
    padding-right: 20px;
    margin-right: 20px;
}

.supplyPackageXs {
    color: #18A4AB;
    font-size: 22px;
    line-height: 1.1;
}

.supplyPackageUl {
    display: flex;
    justify-content: space-between;
    margin: 70px 0px 60px 0px;
}

.supplyPackageUl li {
    width: 32%;
    border: 1px solid #E5E5E5;
    position: relative;
    cursor: pointer;
    color: #979797;
    background: #fff;
}

.supplyPackageUl li.supplyPackageLiChecked {
    color: #fff;
    background: #18A4AB;
}

.supplyPackageLiChecked .supplyPackageName {
    background: #49C6CD;
    color: #fff;
}

.supplyPackageLiChecked .supplyPackagePriceLg {
    color: #fff;
}

.supplyPackageLiChecked .supplyPackagePriceMd {
    color: #fff;
}

.supplyPackageLiChecked .supplyPackageTipIn>div .fa {
    color: #fff;
}

.supplyPackageLiChecked .supplyPackageChecked {
    display: block;
}

.supplyPackageUl li:hover {
    color: #fff;
    background: #18A4AB;
}

.supplyPackageUl li:hover .supplyPackageName {
    background: #49C6CD;
    color: #fff;
}

.supplyPackageUl li:hover .supplyPackagePriceLg {
    color: #fff;
}

.supplyPackageUl li:hover .supplyPackagePriceMd {
    color: #fff;
}

.supplyPackageUl li:hover .supplyPackageTipIn>div .fa {
    color: #fff;
}

.supplyPackageName {
    width: 100%;
    background: #F2F2F2;
    position: relative;
    padding: 18px 5px;
    color: #5F5F5F;
    font-size: 22px;
    text-align: center;
    line-height: 1.1;
}

.supplyPackageLabel {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.supplyPackagePrice {
    margin: 20px 5px;
    text-align: center;
}

.supplyPackagePriceLg {
    color: #FF5000;
    font-size: 42px;
    font-weight: 500;
}

.supplyPackagePriceMd {
    color: #5F5F5F;
    font-size: 16px;
}

.supplyPackagePriceXs {
    font-size: 16px;
    text-decoration: line-through;
}

.supplyPackageTip {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
    padding: 0px 5px;
}

.supplyPackageTipIn>div {
    font-size: 14px;
    margin-bottom: 8px;
}

.supplyPackageTipIn>div .fa {
    color: #0EC5A1;
    margin-right: 5px;
    font-size: 16px;
}

.supplyPackageChecked {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45px;
}

.supplyPackageBtns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.supplyPackageBtn {
    border: 1px solid #FF5300;
    background: #FFE5D8;
    color: #FF5300;
    padding: 8px 45px;
    font-size: 16px;
}

.supplyPackageBtn:hover {
    background: #fbd3c0;
}

@media (max-width: 640px) {
    .supplyPackageTitle {
        flex-wrap: wrap;
    }
    .supplyPackageLg {
        font-size: 24px;
    }
    .supplyPackageXs {
        font-size: 18px;
    }
    .supplyPackageUl {
        flex-wrap: wrap;
        margin: 15px 0px 30px 0px;
    }
    .supplyPackageUl li {
        width: 100%;
        margin-bottom: 15px;
    }
    .supplyPackageBtn {
        margin-bottom: 30px;
    }
}