.glyphicon {
    cursor: pointer;
}

.tenderBtn {
    background: rgba(255, 80, 0, 1);
    color: #fff;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 5px 10px;
}

.tenderBtn:hover {
    background: rgba(255, 80, 0, 0.8);
}

.flexDiv {
    display: flex;
    align-items: center;
}

.custLabelCon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 12px;
}

.custLabelTitle {
    padding: 10px 0px;
    font-weight: bold;
    font-size: 14px;
}

.custLabelLeft {
    width: 50%;
    padding-right: 15px;
    border-right: 1px dashed #d9d9d9;
}

.custLabelLeftCon {
    display: flex;
}

.custLabelUlCtrl {
    white-space: nowrap;
    border-top: 1px solid #d9d9d9;
    list-style: none;
    margin: 0;
    padding: 0;
}

.custLabelUlCtrl li {
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    border-right: none;
    border-top: none;
    cursor: pointer;
}

.custLabelLiCtrlOn {
    background: #eee;
}

.custLabelUlCtrl li:hover {
    background: #eee;
}

.custLabelUlFrom {
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 5px 10px 40px 10px;
    background: #f4f4f4;
    height: 222px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.custLabelUlFrom>div {
    padding: 5px 10px 5px 0px;
    position: relative;
}

.custLabelBox {
    background: #777;
    color: #fff;
    padding: 4px 8px;
    cursor: move;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.custLabelUlFrom>div:hover .custLabelRemove {
    display: block;
}

.custLabelRemove {
    position: absolute;
    height: 14px;
    width: 14px;
    right: 3px;
    top: 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: url(../img/remove-circle.png) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    display: none;
    cursor: pointer;
}

.custLabelRemove:hover {
    background: url(../img/remove-circle1.png) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.custLabelRight {
    width: 50%;
    padding-left: 15px;
}

.custLabelRightTo {
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 5px 10px 10px 10px;
    background: #f4f4f4;
    height: 222px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.custLabelRightTo>div {
    padding: 5px 10px 5px 0px;
    position: relative;
}

.custLabelRightTo .custLabelBox {
    cursor: pointer;
}

.custLabelRightTo>div:hover .custLabelRemove {
    display: block;
}

.custLabelBtn {
    margin-top: 15px;
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.custLabelBtn button {
    margin-left: 10px;
    background: rgb(239, 239, 239);
    color: #333;
    font-size: 14px;
    padding: 2px 7px;
    outline: none;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.custLabelBtn button:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #222;
    border: 1px solid #222;
}

.custLabelUlFrom>div.custLabelLiAdd {
    width: 100%;
}

.custLabelLiAddName {
    border: 1px solid #d9d9d9;
    padding: 3px 1px;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    width: 71px;
}

.custLabelLiAddName:hover {
    background: #fff;
}

.custLabelLiAddValue {
    display: none;
}

.custLabelLiAddValue input {
    height: 25px;
    padding-left: 5px;
    line-height: 25px;
}

.custLabelLiAddValue button {
    height: 25px;
    margin-left: 10px;
    background: rgb(239, 239, 239);
    color: #333;
    font-size: 14px;
    padding: 0px 7px;
    outline: none;
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: inline-flex;
    align-items: center;
}

.custLabelLiAddValue button:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #222;
    border: 1px solid #999;
}