.footConOut {
    width: 100%;
    background: #E8E8E8;
}

.footCon {
    width: 100%;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 15px;
}

.footConInfo {
    width: 70%;
    padding: 20px 0px 10px 0px;
}

.footConQR {
    width: 20%;
    min-width: 260px;
    margin-left: 30px;
}

.footConInfoUp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footConInfoLeft {
    width: 40%;
}

.footConInfoRight {
    width: 45%;
}

.footConInfoLeft ul li {
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
}

.footConInfoName {
    color: #000;
    font-weight: bold;
}

.footConInfoWord {
    text-align: justify;
}

.footConInfoRight {
    display: flex;
    justify-content: space-between;
}

.footConInfoRight .footConInfoList:last-child {
    text-align: right;
}

.footConInfoTitle {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footConInfoList ul li {
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
}

.footConInfoDown ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footConInfoDown ul li {
    background: #C6C6C6;
    padding: 10px 36px;
    color: #000000;
    font-size: 12px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
}

.footConInfoDown ul li:last-child {
    margin-right: 0px;
}

.footConInfoDown ul li:hover {
    background: #ccc;
}

.footConQRList {
    background: #fff;
    padding: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footConQRList:last-child {
    margin-bottom: 0;
}

.footConQRText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px;
}

.footConQRName {
    color: #11CB11;
    font-size: 12px;
}

.footConQRTip {
    color: #333;
    font-size: 12px;
}

.footConQRWatch {
    color: #11CB11;
    font-size: 14px;
}

.footConBottom {
    background: #2A2A32;
    padding: 20px 15px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}

.footConBottomUp {
    margin-bottom: 2px;
}

.footConBottomUp span {
    margin-right: 8px;
}

.footConBottomDown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footConBottomDown img {
    margin-right: 8px;
}

.footConBottomDown span {
    margin-right: 8px;
}

@media ( max-width: 1200px) {
    .footConInfoDown ul {
        justify-content: flex-start;
    }
}

@media ( max-width: 640px) {
    .easiPurchaseContact>div:first-child {
        font-size: 16px;
        font-weight: normal;
    }
    .easiPurchaseContact>div:last-child {
        font-size: 24px;
    }
    .footCon {
        flex-wrap: wrap;
        padding: 20px 15px;
    }
    .footConInfo {
        width: 100%;
    }
    .footConInfoUp {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .footConInfoLeft {
        width: 100%;
        margin-bottom: 10px;
    }
    .footConInfoRight {
        width: 100%;
        justify-content: flex-start;
    }
    .footConInfoRight .footConInfoList:last-child {
        text-align: left;
        margin-left: 35px;
    }
    .footConInfoDown ul {
        justify-content: flex-start;
    }
    .footConQR {
        width: 100%;
        margin-left: 0;
    }
    .footConBottom {
        font-weight: normal;
    }
}