html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: PingFang SC, Source Han Sans CN, Source Han Serif SC;
    letter-spacing: 1.2px;
    font-size: 14px;
    min-width: 0;
    user-select: none;
    background-color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

input[type="text"] {
    -webkit-appearance: none;
}

.fa {
    cursor: pointer;
}

.flexDiv {
    display: flex;
    align-items: center;
}


/* 磁钢馆头部样式开始 */

.magneticSteelCenterOut {
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.magneticSteelCon {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0px 15px;
}

.magneticSteelConOut {
    width: 100%;
    margin: 0;
    padding-top: 7px;
    background: #007C79;
}

.magneticSteelNav {
    display: flex;
}

.magneticSteelNav li a {
    display: block;
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
}

.magneticSteelNav li.magneticSteelNavOn a {
    background: #fff;
    color: #007C79;
}

.magneticSteelNav li:hover a {
    background: #fff;
    color: #007C79;
}

.magneticSteelTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 19px 15px;
}

.searchDiv {
    width: 600px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.searchDivIn {
    height: 38px;
    display: flex;
    align-items: center;
    width: 100%;
}

.searchDivIn .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border: none;
    height: 38px;
    padding: 6px 15px;
    font-size: 14px;
}

.searchDivIn .btn .fa {
    color: #269B67;
}

.dropdown-menu {
    min-width: 100%;
}

.dropdown-menu>li>a {
    padding: 3px 14px;
}

.searchDivIn1 {
    height: 38px;
    display: flex;
    align-items: center;
}

.searchDivIpt {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.searchDivIpt input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0px 5px;
}

.searchDivBtn {
    height: 100%;
    background: #269B67;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.searchDivBtn:hover {
    background: #228a5c;
}

.searchDivBtn1 {
    height: 100%;
    background: #FF8F33;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.searchDivBtn1:hover {
    background: #da7a2b;
}


/* 磁钢馆头部样式结束 */


/* 云展厅样式开始 */

.cloudExhibitionTop {
    /* height: 400px; */
    background: url("../img/cloudBg.png") no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px 0px 25px 0px;
}

.cloudExhibitionTopTip {
    background: #FDB802;
    color: #121212;
    font-size: 22px;
    height: 55px;
    width: 100%;
    padding-left: 25px;
}

.cloudExhibitionTopTip img {
    margin-right: 12px;
}

.cloudExhibitionTopCon {
    /* height: 300px; */
    background: rgba(0, 79, 171, 0.8);
    width: 100%;
    color: #fff;
    display: flex;
    padding: 20px 0px 25px 0px;
    flex-wrap: wrap;
}

.cloudExhibitionTopLeft {
    width: 50%;
    border-right: 1px solid #979797;
}

.cloudExhibitionTopNumber {
    padding-left: 25px;
    justify-content: space-between;
    white-space: nowrap;
}

.cloudExhibitionTopNumberName {
    font-size: 18px;
}

.cloudExhibitionTopNumberUl {
    flex-wrap: wrap;
}

.cloudExhibitionTopNumberUl li {
    padding: 0px 20px;
    position: relative;
}

.cloudExhibitionTopLine {
    position: absolute;
    height: 26px;
    width: 1px;
    right: 0;
    top: 50%;
    margin-top: -13px;
    background: #cecece;
}

.cloudExhibitionTopUp {
    font-size: 12px;
}

.cloudExhibitionTopDown {
    font-size: 18px;
}

.cloudExhibitionTopInfo {
    width: 100%;
    margin-top: 10px;
}

.cloudTopInfoTitle {
    width: 100%;
    color: #FFB900;
    padding: 0px 20px 0px 25px;
}

.cloudTopInfoTitleIn {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    font-size: 14px;
    padding: 5px 0px;
    white-space: nowrap;
}

.cloudTopInfoTitleIn .cloudTopInfoHot {
    padding-left: 18px;
}

.cloudTopInfoUlOut {
    width: 100%;
    height: 175px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cloudTopInfoUl {
    width: 100%;
    padding: 0px 20px 0px 25px;
    font-size: 12px;
}

.cloudTopInfoUl li {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    padding: 5px 0px;
    height: 35px;
}

.cloudTopInfoUl li>div {
    display: flex;
    align-items: center;
}

.cloudTopInfoUl li>div img {
    margin-right: 2px;
}

.cloudTopInfoLogo {
    width: 9%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.cloudTopInfoName {
    width: 30%;
    padding-right: 10px;
}

.cloudTopInfoName span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cloudTopInfoOnline {
    width: 13%;
}

.cloudTopInfoHot {
    width: 15%;
}

.cloudTopInfoVideo {
    width: 33%;
}

.cloudTopInfoVideo span {
    margin-right: 2px;
    white-space: nowrap;
}

.cloudTopInfoLogoIn {
    height: 24px;
    width: 24px;
    min-width: 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cloudTopInfoLogoIn img {
    width: 100%;
}

.cloudExhibitionTopRight {
    width: 50%;
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
}

.cloudTopRightVideoCon {
    width: 430px;
    height: 242px;
    position: relative;
    background: #333;
}

.cloudTopRightVideoStart {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -26px;
    margin-top: -26px;
    cursor: pointer;
}

.cloudTopRightSeat {
    width: 168px;
    height: 242px;
    background: #fff;
    padding: 0px 15px;
    color: #979797;
}

.cloudTopRightSeatTitle {
    font-size: 14px;
    color: #007C79;
    background: #E5E5E5;
    text-align: center;
    padding: 5px 0px;
    font-weight: 600;
    border-radius: 0px 0px 4px 4px;
}

.cloudTopRightSeatLogo {
    height: 50px;
    padding: 5px 0px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.cloudTopRightSeatLogo img {
    height: 100%;
}

.cloudTopRightSeatName {
    color: #333;
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.cloudTopRightSeatProduct {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.cloudTopRightSeatProduct img {
    width: 100%;
}

.cloudTopRightSeatEnter {
    font-weight: 600;
    text-align: center;
    color: #2C2C2B;
    background: #FF8F33;
    padding: 5px 0px;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -ms-border-radius: 4px 4px 0px 0px;
    -o-border-radius: 4px 4px 0px 0px;
}

.cloudTopRightSeatEnter:hover {
    background: #fd8421;
    cursor: pointer;
}

.cloudExhibitionSearch {
    background: #D8D8D8;
    padding: 20px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cloudExhibitionSearchTip {
    font-size: 18px;
    margin-right: 20px;
}

.cloudExhibitionSearchTip img {
    margin-right: 10px;
}

.cloudExhibitionSearchForm {
    height: 35px;
    width: 40%;
    display: flex;
    align-items: center;
    background: #fff;
}

.cloudExhibitionSearchForm input {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 30px;
}

.cloudExhibitionSearchForm button {
    white-space: nowrap;
    padding: 5px 20px;
    background: #FF8F33;
    color: #fff;
    font-size: 18px;
}

.cloudExhibitionSearchForm button:hover {
    background: #fb7f1a;
}

.cloudExhibitionSearchForm input::-webkit-input-placeholder {
    color: #979797;
}

.cloudExhibitionSearchForm input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #979797;
}

.cloudExhibitionSearchForm input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #979797;
}

.cloudExhibitionSearchForm input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #979797;
}

.searchProductTitle {
    font-size: 14px;
}

.searchProductTitleCheck {
    color: #269B67;
    font-size: 22px;
    margin-left: 5px;
}

.searchProductTitleCheck i {
    margin-left: 5px;
}

.searchProductFind {
    font-size: 12px;
    justify-content: flex-end;
    padding: 8px 20px 8px 0px;
    border: 1px solid #e5e5e5;
    border-bottom: none;
}

.searchProductFindArrow {
    padding: 4px 8px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
}

.searchProductFindArrow:hover {
    color: #269B67;
}

.searchProductSelectUl {
    border: 1px solid #E5E5E5;
    padding: 15px 15px 0px 15px;
}

.searchProductSelectUl>li {
    display: flex;
    font-size: 12px;
    margin-bottom: 15px;
}

.searchProductSelectUl li input[type=checkbox],
.searchProductSelectUl li input[type=radio] {
    margin: 2px 0px 0px -20px;
}

.searchProductSelectUl li .checkbox-inline+.checkbox-inline,
.searchProductSelectUl li .radio-inline+.radio-inline {
    margin-left: 0px;
}

.searchProductSelectUl li .checkbox-inline,
.searchProductSelectUl li .radio-inline {
    margin-right: 20px;
}

.searchProductSelectUl li .form-control {
    height: 24px;
    line-height: 24px;
    padding: 0px 6px;
    font-size: 12px;
}

.form-control:focus {
    border-color: #269B67;
}

.searchProductSelectUl li .btn {
    padding: 1px 7px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.searchProductSelectUl li .btn .fa {
    margin-left: 5px;
}

.searchProductSelectUl li .dropdown-menu {
    min-width: 0px;
}

.searchProductName {
    color: #979797;
    min-width: 90px;
    height: 21px;
    display: flex;
    align-items: center;
}

.searchProductNameTall {
    height: 24px;
}

.searchProductCheckUl {
    display: flex;
    align-items: center;
    margin-left: -7px;
    flex-wrap: wrap;
}

.searchProductCheckUl li {
    padding: 2px 7px;
    margin-right: 10px;
    cursor: pointer;
}

.searchProductCheckLiOn {
    background: #269B67;
    color: #fff;
}

.searchProductCheckUl li:hover {
    background: #269B67;
    color: #fff;
}

.searchProductSortAreaBtn {
    background: #fff;
    height: 35px;
    padding: 2px 10px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.searchProductSortAreaBtn:hover {
    color: #F35B1A;
}

.searchProductSortAreaBtnOn {
    color: #F35B1A;
    background: rgba(255, 246, 243, 1);
}

.searchProductSortAreaBtn .fa {
    font-size: 16px;
    margin-left: 5px;
}

.searchProductSortAreaBtn.searchProductSortAreaBtnOn .fa {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.searchProductSortAreaMain {
    display: none;
    padding: 10px 0px;
}

.searchProductSortAreaMain.searchProductSortAreaMainOn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5; */
}

.searchProductSortAreaIn {
    background: #eee;
    position: relative;
    width: 60%;
    height: 30px;
    margin-right: 20px;
}

.searchProductSortAreaCtrl button {
    padding: 2px 7px;
    margin-right: 10px;
    cursor: pointer;
    background: #269B67;
    color: #fff;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.searchProductSortAreaCtrl button:hover {
    background: #228a5c;
}

.searchProductSortAreaCtrl button:last-child {
    margin-right: 0px;
    background: #E8E8E8;
    color: #333;
}

.searchProductSortAreaCtrl button:last-child:hover {
    background: #ddd;
}

.cloudExhibitionShopUl {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-top: none;
    padding: 20px 20px 0px 0px;
    margin-bottom: 40px;
}

.cloudExhibitionShopUl li {
    width: 20%;
    padding: 0px 0px 20px 20px;
}

.cloudExhibitionShopLiIn {
    border: 1px solid #E5E5E5;
    padding: 10px;
}

.cloudExhibitionShopTop {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
}

.cloudExhibitionShopTopL {
    display: flex;
    align-items: center;
}

.cloudExhibitionShopCollect {
    background: #E7E7E9;
    color: #6E6D7A;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 14px;
    margin-right: 8px;
    cursor: pointer;
}

.cloudExhibitionShopCollectOn {
    background: #EC414D;
    color: #fff;
}

.cloudExhibitionShopNumber {
    color: #007C79;
    font-weight: 600;
    font-size: 14px;
}

.cloudExhibitionShopStatus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 0px;
}

.cloudExhibitionShopStatusLogo {
    height: 84px;
    width: 84px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.cloudExhibitionShopStatusLogo img {
    width: 100%;
}

.cloudExhibitionShopStatusText {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cloudExhibitionShopStatusText img {
    margin-right: 2px;
}

.cloudExhibitionShopStatusSee {
    display: flex;
}

.cloudExhibitionShopStatusVideo {
    display: flex;
}

.ShopStatusVideoRed {
    color: #FF0000;
}

.ShopStatusVideoGreen {
    color: #00D766;
}

.ShopStatusVideoGray {
    color: #979797;
}

.cloudExhibitionShopTitle {
    color: #000;
    font-size: 14px;
    padding: 5px 0px;
}

.cloudExhibitionShopWord {
    color: #979797;
    font-size: 12px;
    height: 48px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.cloudExhibitionShopBtn {
    background: #007C79;
    width: 100%;
    margin: 0px 0px 10px 0px;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.cloudExhibitionShopBtn:hover {
    background: #02afab;
    cursor: pointer;
}

.cloudExhibitionNavRight {
    background: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 10px;
    width: 140px;
    /* overflow-x: hidden;
    overflow-y: auto; */
    position: absolute;
    right: -140px;
    top: 30px;
}

.cloudExhibitionNavTitle {
    width: 100%;
    margin: 8px 0px;
    background: #222;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.cloudExhibitionNavUl li {
    width: 100%;
    margin-bottom: 8px;
    background: #222;
    padding: 10px;
    color: #979797;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.cloudExhibitionNavUl li:hover {
    background: #000;
    color: #A1C52B;
}

.cloudExhibitionNavUl li.cloudExhibitionNavLiOn {
    background: #000;
    color: #A1C52B;
}

.cloudExhibitionNavTop {
    width: 100%;
    margin-bottom: 8px;
    background: #222;
    padding: 10px;
    color: #979797;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.cloudExhibitionNavTop:hover {
    background: #000;
    color: #A1C52B;
}

.navGuideToRight {
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: -22px;
    top: 50%;
    margin-top: -67px;
    height: 134px;
    width: 22px;
    background: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.navGuideToRight:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #A1C52B;
}

.navGuideToLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: -32px;
    top: 50%;
    margin-top: -67px;
    height: 134px;
    width: 32px;
    background: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: #A1C52B;
}

.navGuideToLeft:hover {
    background: rgba(0, 0, 0, 0.8);
}

.navGuideToLeftText {
    color: #fff;
    font-size: 16px;
    writing-mode: tb-rl;
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
}

@media (max-width: 1280px) {
    .cloudExhibitionShopUl li {
        width: 25%;
        padding: 0px 0px 20px 20px;
    }
}

@media (max-width: 640px) {
    /* 头部手机适配样式 */
    .magneticSteelNav {
        justify-content: space-between;
    }
    .magneticSteelNav li {
        padding: 7px 5px;
        font-size: 12px;
    }
    .magneticSteelTop {
        margin: 15px 0px 0px 0px;
        flex-wrap: wrap;
    }
    .searchDiv {
        width: 100%;
        height: auto;
        justify-content: flex-end;
        flex-wrap: wrap;
        border: none;
        padding-bottom: 5px;
    }
    .searchDivIn {
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
    }
    .searchDivIn1 {
        width: 100%;
        justify-content: flex-end;
    }
    .magneticSteelCon {
        padding: 0px 10px;
    }
    .searchDivIn .btn {
        height: 36px;
    }
    .magneticSteelNav li a {
        padding: 7px 10px;
    }
    /* 内容部分 */
    .searchProductSelectUl {
        margin-right: 0;
    }
    .searchProductBtn {
        margin: 10px 0px 0px 128px;
    }
    .searchProductIpt {
        width: 173px;
    }
    .searchProductValue {
        flex-wrap: wrap;
    }
    .searchProductSort {
        flex-wrap: wrap;
    }
    .searchProductSortLeft {
        flex-wrap: wrap;
    }
    .searchProductSortUl {
        margin-bottom: 15px;
    }
    .searchProductSortUl li {
        white-space: nowrap;
        padding: 0px 5px;
    }
    .searchProductSortUl {
        flex-wrap: wrap;
    }
    .searchProductArticle>li {
        width: 100%;
        margin-right: 0;
    }
    /* 云展厅 */
    .cloudExhibitionTopLeft {
        width: 100%;
    }
    .cloudExhibitionTopRight {
        width: 100%;
        flex-wrap: wrap;
    }
    .cloudTopInfoLogo {
        display: none;
    }
    .cloudTopInfoUl li>div.cloudTopInfoLogo {
        display: none;
    }
    .cloudTopInfoHot {
        display: none;
    }
    .cloudTopInfoUl li>div.cloudTopInfoHot {
        display: none;
    }
    .cloudTopInfoOnline {
        display: none;
    }
    .cloudTopInfoUl li>div.cloudTopInfoOnline {
        display: none;
    }
    .cloudExhibitionTopTip {
        font-size: 14px;
        padding-left: 10px;
    }
    .cloudExhibitionTopNumber {
        flex-wrap: wrap;
        padding-left: 10px;
    }
    .cloudExhibitionTopNumberUl {
        margin-top: 10px;
        margin-left: -20px;
    }
    .cloudTopInfoTitle {
        padding: 0px 10px;
    }
    .cloudTopInfoUl {
        padding: 0px 10px;
    }
    .cloudExhibitionTopRight {
        padding: 0px 10px;
    }
    .cloudTopRightVideoCon {
        height: 162px;
    }
    .cloudTopRightSeat {
        width: 100%;
        margin-top: 10px;
    }
    .cloudExhibitionSearchForm {
        width: 100%;
        margin: 10px 0px;
    }
    .cloudExhibitionSearchForm input {
        padding-left: 5px;
    }
    .cloudExhibitionSearch {
        padding: 10px 10px;
        justify-content: flex-start;
    }
    .searchProductSortAreaBtn {
        margin-left: 0px;
    }
    .searchProductFind {
        padding: 8px 10px 8px 0px;
    }
    .cloudExhibitionShopUl li {
        width: 100%;
        padding: 0px 0px 20px 20px;
    }
}