html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: PingFang SC, Source Han Sans CN, Source Han Serif SC;
    letter-spacing: 1.2px;
    font-size: 14px;
    min-width: 0;
    user-select: none;
    background-color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

input[type="text"] {
    -webkit-appearance: none;
}

.fa {
    cursor: pointer;
}

.flexDiv {
    display: flex;
    align-items: center;
}

.magneticSteelCon {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0px 15px;
}

.magneticSteelConOut {
    width: 100%;
    margin: 0;
    padding-top: 7px;
    background: #007C79;
}

.magneticSteelTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.searchDiv {
    width: 600px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.searchDivSelect {
    background: #fff;
    border-right: 1px solid #E5E5E5;
    position: relative;
    height: 100%;
}

.searchDivSelectValue {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    white-space: nowrap;
    cursor: pointer;
}

.searchDivSelectValue .fa-angle-down {
    font-size: 22px;
    color: #269B67;
    margin-left: 8px;
}

.searchSelectTransform {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.searchDivSelectUl {
    display: none;
    position: absolute;
    left: 0;
    min-width: 100%;
    background: #eee;
    top: 39px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    z-index: 9999;
}

.searchDivSelectUl li {
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 5px;
}

.searchDivSelectUl li:last-child {
    margin-bottom: 0px;
}

.searchDivSelectUl li:hover {
    color: #269B67;
}

.searchDivIpt {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
}

.searchDivIpt input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0px 5px;
}

.searchDivBtn {
    height: 100%;
    background: #269B67;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.searchDivBtn:hover {
    background: #228a5c;
}

.searchDivBtn1 {
    height: 100%;
    background: #FF8F33;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.searchDivBtn1:hover {
    background: #da7a2b;
}

.magneticSteelNav {
    display: flex;
}

.magneticSteelNav li {
    padding: 7px 20px;
    color: #fff;
}

.magneticSteelNav li:hover {
    background: #fff;
    color: #007C79;
}

.magneticSteelADTop img {
    width: 100%
}

.magneticSteelMiddle {
    display: flex;
}

.magneticSteelLeft {
    width: 80%;
    padding-right: 20px;
}

.magneticSteelBanner {
    width: 100%;
    margin-bottom: 10px;
}

.magneticSteelBanner img {
    width: 100%;
}

.magneticSteelCompanyUl {
    display: flex;
    border: 1px solid #E5E5E5;
    padding: 10px;
    justify-content: space-between;
}

.magneticSteelCompanyUl li {
    width: 24%;
}

.magneticSteelCompanyUl li img {
    width: 100%;
}

.magneticSteelRight {
    width: 20%;
}

.magneticSteelRightIn {
    border: 1px solid #E5E5E5;
}

.magneticSteelUser {
    border-bottom: 1px solid #E5E5E5;
    height: 100px;
}

.magneticSteelUser li {
    display: none;
    padding: 15px;
    width: 100%;
}

.magneticSteelUserLi {
    display: flex;
    align-items: center;
}

.magneticSteelUserPhoto {
    width: 60px;
    min-width: 60px;
    height: 60px;
    background: #fff;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.magneticSteelUserPhoto img {
    width: 100%;
}

.magneticSteelUserInfo {
    width: 100%;
    margin-left: 8px;
    font-size: 12px;
}

.magneticSteelUserInfo>div {}

.magneticSteelCard {
    color: #0189FF;
    cursor: pointer;
}

.magneticSteelUserRed {
    color: #E60113;
}

.magneticSteelUserTitle {
    text-align: center;
    padding: 10px 0px;
}

.magneticSteelUserBtns {
    justify-content: space-between;
}

.magneticSteelUserBtn1 {
    background: #229A64;
    padding: 6px 0px;
    width: 45%;
    color: #fff;
}

.magneticSteelUserBtn1:hover {
    background: #1c8254;
}

.magneticSteelUserBtn2 {
    background: #fff;
    padding: 5px 0px;
    color: #229A64;
    width: 45%;
    border: 1px solid #229A64;
}

.magneticSteelUserBtn2:hover {
    background: #e1fdf0;
}

.magneticSteelJoin {
    height: 64px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    padding: 0px 15px;
}

.magneticSteelJoin li {
    display: none;
    width: 100%;
}

.magneticSteelJoinLg {
    font-size: 16px;
    font-weight: 600;
}

.magneticSteelJoinMs {
    color: #FF8F33;
    font-size: 12px;
    cursor: pointer;
}

.magneticSteelJoinCon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.magneticSteelJoinBtn {
    padding: 8px 15px;
    background: #FF8F33;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.magneticSteelJoinBtn img {
    height: 16px;
    margin-left: 8px;
}

.magneticSteelData {
    padding: 15px;
}

.magneticSteelDataText {
    font-size: 20px;
    font-weight: 600;
}

.magneticSteelDataAll {
    display: flex;
    margin: 15px 0px;
}

.magneticSteelDataAllLeft {
    position: relative;
    padding-right: 25px;
}

.magneticSteelDataAllRight {
    position: relative;
    padding-left: 25px;
}

.magneticSteelDataAllName {
    font-size: 12px;
}

.magneticSteelDataAllValue {
    font-size: 18px;
    color: #FF8F33;
    font-weight: 600;
}

.magneticSteelDataAllLine {
    height: 70%;
    width: 1px;
    background: #CECECE;
    position: absolute;
    right: 0;
    bottom: 10%;
}

.magneticSteelDataTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #979797;
    font-size: 12px;
    padding-bottom: 5px;
}

.magneticSteelDataUl li {
    border-top: 1px solid #E5E5E5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}

.magneticSteelDataLiName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}

@media (max-width:640px) {}