html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: PingFang SC, Source Han Sans CN, Source Han Serif SC;
    letter-spacing: 1.2px;
    font-size: 14px;
    min-width: 0;
    user-select: none;
    background-color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

input[type="text"] {
    -webkit-appearance: none;
}

.fa {
    cursor: pointer;
}

.flexDiv {
    display: flex;
    align-items: center;
}

.magneticSteelCon {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0px 15px;
}

.magneticSteelConOut {
    width: 100%;
    margin: 0;
    padding-top: 7px;
    background: #007C79;
}

.magneticSteelTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.magneticSteelTopLogo {
    height: 58px;
}

.magneticSteelTopLogo img {
    height: 100%;
}

.searchDiv {
    width: 600px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.searchDivIn {
    height: 38px;
    display: flex;
    align-items: center;
}

.searchDivIn1 {
    height: 38px;
    display: flex;
    align-items: center;
}

.searchDivSelect {
    background: #fff;
    border-right: 1px solid #E5E5E5;
    position: relative;
    height: 100%;
}

.searchDivSelectValue {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    white-space: nowrap;
    cursor: pointer;
}

.searchDivSelectValue .fa-angle-down {
    font-size: 22px;
    color: #269B67;
    margin-left: 8px;
}

.searchSelectTransform {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.searchDivSelectUl {
    display: none;
    position: absolute;
    left: 0;
    min-width: 100%;
    background: #eee;
    top: 39px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    z-index: 9999;
}

.searchDivSelectUl li {
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 5px;
}

.searchDivSelectUl li:last-child {
    margin-bottom: 0px;
}

.searchDivSelectUl li:hover {
    color: #269B67;
}

.searchDivIpt {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
}

.searchDivIpt input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0px 5px;
}

.searchDivBtn {
    height: 100%;
    background: #269B67;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.searchDivBtn:hover {
    background: #228a5c;
}

.searchDivBtn1 {
    height: 100%;
    background: #FF8F33;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.searchDivBtn1:hover {
    background: #da7a2b;
}

.magneticSteelNav {
    display: flex;
}

.magneticSteelNav li {
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
}

.magneticSteelNav li.magneticSteelNavOn {
    background: #fff;
    color: #007C79;
}

.magneticSteelNav li:hover {
    background: #fff;
    color: #007C79;
}

.magneticSteelADTop img {
    width: 100%;
    cursor: pointer;
}

.magneticSteelMiddle {
    display: flex;
}

.magneticSteelLeft {
    width: 80%;
    padding-right: 20px;
}

.magneticSteelBanner {
    width: 100%;
    margin-bottom: 10px;
}

.magneticSteelBanner img {
    width: 100%;
}

.magneticSteelCompanyUl {
    display: flex;
    border: 1px solid #E5E5E5;
    padding: 10px 10px 0px 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.magneticSteelCompanyUl li {
    width: 24%;
    margin-bottom: 10px;
    cursor: pointer;
}

.magneticSteelCompanyUl li img {
    width: 100%;
}

.magneticSteelRight {
    width: 20%;
}

.magneticSteelRightIn {
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
}

.magneticSteelUser {
    border-bottom: 1px solid #E5E5E5;
    height: 100px;
}

.magneticSteelUser li {
    display: none;
    padding: 15px;
    width: 100%;
}

.magneticSteelUserLi {
    display: flex;
    align-items: center;
}

.magneticSteelUserPhoto {
    width: 60px;
    min-width: 60px;
    height: 60px;
    background: #eee;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.magneticSteelUserPhoto img {
    width: 100%;
}

.magneticSteelUserInfo {
    width: 100%;
    margin-left: 8px;
    font-size: 12px;
}

.magneticSteelUserInfo>div {}

.magneticSteelCard {
    color: #0189FF;
    cursor: pointer;
}

.magneticSteelUserRed {
    color: #E60113;
}

.magneticSteelUserTitle {
    text-align: center;
    padding: 10px 0px;
}

.magneticSteelUserBtns {
    justify-content: space-between;
}

.magneticSteelUserBtn1 {
    background: #229A64;
    padding: 6px 0px;
    width: 45%;
    color: #fff;
}

.magneticSteelUserBtn1:hover {
    background: #1c8254;
}

.magneticSteelUserBtn2 {
    background: #fff;
    padding: 5px 0px;
    color: #229A64;
    width: 45%;
    border: 1px solid #229A64;
}

.magneticSteelUserBtn2:hover {
    background: #e1fdf0;
}

.magneticSteelJoin {
    height: 64px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    padding: 0px 15px;
}

.magneticSteelJoin li {
    display: none;
    width: 100%;
}

.magneticSteelJoinLg {
    font-size: 16px;
    font-weight: 600;
}

.magneticSteelJoinMs {
    color: #FF8F33;
    font-size: 12px;
    cursor: pointer;
}

.magneticSteelJoinCon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.magneticSteelJoinBtn {
    padding: 8px 15px;
    background: #FF8F33;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.magneticSteelJoinBtn:hover {
    background: #e27f2d;
}

.magneticSteelJoinBtn img {
    height: 16px;
    margin-left: 8px;
}

.magneticSteelData {
    padding: 15px;
}

.magneticSteelDataText {
    font-size: 20px;
    font-weight: 600;
}

.magneticSteelDataAll {
    display: flex;
    margin: 15px 0px;
    flex-wrap: wrap;
}

.magneticSteelDataAllLeft {
    position: relative;
    padding-right: 25px;
    margin-right: 25px;
}

.magneticSteelDataAllRight {
    position: relative;
}

.magneticSteelDataAllName {
    font-size: 12px;
    white-space: nowrap;
}

.magneticSteelDataAllValue {
    font-size: 18px;
    color: #FF8F33;
    font-weight: 600;
}

.magneticSteelDataAllLine {
    height: 70%;
    width: 1px;
    background: #CECECE;
    position: absolute;
    right: 0;
    bottom: 10%;
}

.magneticSteelDataTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #979797;
    font-size: 12px;
    padding-bottom: 5px;
}

.magneticSteelDataUlOut {
    height: 155px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.magneticSteelDataUl {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.magneticSteelDataUl li {
    border-top: 1px solid #E5E5E5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}

.magneticSteelDataLiName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
    cursor: pointer;
}

.magneticSteelDataLiName:hover {
    text-decoration: underline;
    color: #0189FF;
}

.magneticSteelBuy {
    border: 1px solid #E5E5E5;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.magneticSteelTitle {
    padding: 8px 15px 8px 25px;
    justify-content: space-between;
}

.magneticSteelTitleLg {
    font-size: 20px;
    font-weight: 600;
}

.magneticSteelTitleMs {
    color: #979797;
    cursor: pointer;
}

.magneticSteelTitleMs:hover {
    text-decoration: underline;
}

.magneticSteelTitleMs .fa {
    margin-left: 5px;
}

.magneticSteelBuyUl {
    display: flex;
    flex-wrap: wrap;
}

.magneticSteelBuyUl li {
    width: 32%;
    margin-left: 1%;
    margin-bottom: 15px;
    border: 1px solid #E5E5E5;
    position: relative;
    padding-bottom: 30px;
}

.magneticSteelBuyUlName {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 5px 5px 15px;
    /* width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.magneticSteelBuyUlName span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.magneticSteelBuyUlInfo {
    color: #979797;
    font-size: 12px;
    padding: 0px 15px 12px 15px;
    max-height: 85px;
    line-height: 17px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.magneticSteelBuyUlCompany {
    background: #FEEFDB;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.magneticSteelBuyUlCompany span {
    color: #F35B1A;
    cursor: pointer;
}

.magneticSteelBuyUlCompany span:hover {
    text-decoration: underline;
}

.magneticSteelMetal {
    border: 1px solid #E5E5E5;
    padding: 18px 15px 15px 15px;
    margin-bottom: 20px;
}

.magneticSteelMetalTitle {
    font-weight: 600;
    font-size: 20px;
}

.magneticSteelMetalCon {
    background: #E6F8D0;
    padding: 10px;
    margin-top: 8px;
}

.magneticSteelMetalMore {
    font-size: 12px;
    color: #979797;
    margin-top: 8px;
}

.magneticSteelMetalMore span {
    cursor: pointer;
}

.magneticSteelMetalMore span:hover {
    text-decoration: underline;
}

.magneticSteelMetalName {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.magneticSteelMetalNumber {
    font-size: 12px;
    margin-bottom: 8px;
}

.magneticSteelMetalInfo {
    color: #FF1700;
    font-size: 12px;
    margin-bottom: 8px;
}

.magneticSteelMetalInfoLg {
    font-size: 18px;
    font-weight: 600;
}

.magneticSteelMetalMain {
    width: 100%;
    height: 127px;
}

.magneticSteelHot {
    border: 1px solid #E5E5E5;
    padding-top: 10px;
    margin-bottom: 20px;
}

.magneticSteelHotUl {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.magneticSteelHotUl li {
    width: 24%;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
}

.magneticSteelHotAD {
    width: 100%;
    margin-bottom: 10px;
}

.magneticSteelHotAD img {
    width: 100%;
}

.magneticSteelHotProduct {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 0px 5px 0px 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.magneticSteelHotProductImg {
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin: 0px 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.magneticSteelHotProductImg img {
    width: 100%;
}

.magneticSteelHotProductName {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.magneticSteelHotProductName span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.magneticSteelHotProductPrice {
    color: #FF1700;
    font-size: 12px;
    margin-bottom: 5px;
}

.magneticSteelHotProductCompany {
    font-size: 12px;
}

.magneticSteelHotProductCompany span {
    cursor: pointer;
    color: #0189FF;
    text-decoration: underline;
}

.magneticSteelHotProductCompany span:hover {
    color: #0766b9;
}

.magneticSteelHotTui {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    padding: 10px 0px;
}

.magneticSteelHotTui>div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0px 10px;
    width: 50%;
}

.magneticSteelHotTuiLeft {
    border-right: 1px solid #e5e5e5;
}

.magneticSteelHotTuiImg {
    width: 40px;
    height: 40px;
    min-width: 40px;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.magneticSteelHotTuiImg img {
    width: 100%;
}

.magneticSteelHotTuiName {
    font-size: 12px;
}

.magneticSteelHotTuiName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.magneticSteelBrand {
    border: 1px solid #E5E5E5;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.magneticSteelBrandUl {
    display: flex;
    flex-wrap: wrap;
}

.magneticSteelBrandUl li {
    position: relative;
    padding: 10px;
    border: 1px solid #EFEFEF;
    width: 32%;
    margin-left: 1%;
    margin-bottom: 15px;
}

.magneticSteelBrandUl li.magneticSteelBrandLiUp {
    padding-top: 45px;
}

.magneticSteelBrandUl li.magneticSteelBrandLiDown {
    padding-bottom: 45px;
}

.magneticSteelBrandPurpleUp {
    position: absolute;
    width: 102%;
    right: -2%;
    top: 0;
    height: 40px;
    background: url(../img/6ad1img6.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
    color: #5A54B1;
}

.magneticSteelBrandBlueUp {
    position: absolute;
    width: 102%;
    right: -2%;
    top: 0;
    height: 40px;
    background: url(../img/6ad2img6.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
    color: #2F7BB1;
}

.magneticSteelBrandGreenUp {
    position: absolute;
    width: 102%;
    right: -2%;
    top: 0;
    height: 40px;
    background: url(../img/6ad3img6.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
    color: #317876;
}

.magneticSteelBrandPurpleDown {
    position: absolute;
    width: 102%;
    right: -2%;
    bottom: 0;
    height: 40px;
    background: url(../img/6ad4img6.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 15px;
    color: #5A54B1;
}

.magneticSteelBrandBlueDown {
    position: absolute;
    width: 102%;
    right: -2%;
    bottom: 0;
    height: 40px;
    background: url(../img/6ad5img6.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 15px;
    color: #2F7BB1;
}

.magneticSteelBrandGreenDown {
    position: absolute;
    width: 102%;
    right: -2%;
    bottom: 0;
    height: 40px;
    background: url(../img/6ad6img6.png) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 15px;
    color: #317876;
}

.magneticSteelBrandInfo {
    margin-bottom: 10px;
}

.magneticSteelBrandLogo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.magneticSteelBrandLogo img {
    width: 100%;
}

.magneticSteelBrandName {
    font-size: 16px;
    cursor: pointer;
}

.magneticSteelBrandName:hover {
    text-decoration: underline;
}

.magneticSteelBrandMain {
    color: #979797;
    font-size: 12px;
}

.magneticSteelBrandImgOut {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.magneticSteelBrandImg {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #eee;
    overflow: hidden;
    border-right: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.magneticSteelBrandImg img {
    width: 100%;
}

.carousel-control {
    display: none;
}

.carousel-control i {
    font-size: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}

.carousel-indicators li {
    display: inline-block;
    width: 30px;
    height: 6px;
    margin: 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: #111;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.carousel-indicators .active {
    width: 30px;
    height: 6px;
    margin: 0;
    background-color: #FF8F33;
}

@media (max-width:1280px) {
    .magneticSteelCompanyUl {
        flex-wrap: wrap;
    }
    .magneticSteelCompanyUl li {
        width: 49%;
    }
    .magneticSteelHotUl {
        flex-wrap: wrap;
    }
    .magneticSteelHotUl li {
        width: 49%;
    }
}

@media (max-width:640px) {
    .magneticSteelMiddle {
        flex-wrap: wrap;
    }
    .magneticSteelLeft {
        width: 100%;
        padding-right: 0;
    }
    .magneticSteelRight {
        width: 100%;
    }
    .magneticSteelBuyUl li {
        width: 98%;
    }
    .magneticSteelHotUl li {
        width: 100%;
    }
    .magneticSteelBrandUl li {
        width: 98%;
    }
    .magneticSteelNav {
        justify-content: space-between;
    }
    .magneticSteelNav li {
        padding: 7px 5px;
        font-size: 12px;
    }
    .magneticSteelTop {
        margin: 15px 0px 0px 0px;
        flex-wrap: wrap-reverse
    }
    .searchDiv {
        width: 100%;
        height: auto;
        justify-content: flex-end;
        flex-wrap: wrap;
        border: none;
    }
    .searchDivIn {
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
    }
    .searchDivIn1 {
        width: 100%;
        justify-content: flex-end;
    }
    .magneticSteelTopLogo {
        height: 48px;
    }
    .magneticSteelCon {
        padding: 0px 10px;
    }
    .magneticSteelADTop {
        margin: 10px 0px;
    }
    .carousel-control {
        display: block;
    }
}