/* 赋权弹框*/

.custLabelAdmin {
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 10px;
    background: #f4f4f4;
    height: 222px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.custLabelCeck {
    position: relative;
    background: #777;
    color: #fff;
    padding: 4px 8px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.custLabelCeckOn {
    background: #3D91E7;
}

.custLabelBtn {
    margin-top: 15px;
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.custLabelBtn button {
    margin-left: 10px;
    background: rgb(239, 239, 239);
    color: #333;
    font-size: 14px;
    padding: 2px 7px;
    outline: none;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.custLabelBtn button:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #222;
    border: 1px solid #222;
}