body {
    font-family: PingFang SC, Source Han Sans CN, Source Han Serif SC;
    letter-spacing: 1.2px;
    font-size: 14px;
    min-width: 0;
    user-select: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.glyphicon {
    cursor: pointer;
}

.emonline_job_img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.emonline_job_img img {
    width: 100%;
}

.job_in_img {
    display: inline-block;
}

.job_in_img_mobile {
    display: none;
}

.emonline_job_con {
    width: 100%;
    max-width: 1366px;
    margin: 0px auto 20px auto;
    background: #f5f5f5;
    padding: 0px;
}

.emonline_job_slogan_up {
    font-size: 20px;
    font-weight: bold;
}

.emonline_job_slogan_green {
    color: rgb(0, 179, 199);
    font-weight: bold;
}

.emonline_job_secondUl {
    list-style: none;
    margin: 0;
    display: none;
    padding: 0px 90px;
}

.emonline_job_firstActive .emonline_job_secondUl {
    display: block;
}

.emonline_job_firstActive .emonline_job_li_info {
    display: block;
}

.emonline_job_firstActive .emonline_job_li_contact {
    display: block;
}

.emonline_job_secondUl>li {
    ;
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 15px;
    border: 1px solid #eee;
}


/*new*/

.emonline_job_li_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.emonline_job_li_top .glyphicon {
    color: #999;
}

.emonline_job_li_top .glyphicon:hover {
    color: #333;
}

.emonline_job_li_bottom {
    display: none;
    justify-content: space-between;
}

.emonline_job_secondActive .emonline_job_li_bottom {
    display: flex;
    justify-content: space-between;
}

.emonline_job_li_title {
    font-size: 18px;
    padding: 20px 35px;
    line-height: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    background: #fff url(../img/titleBg.png);
    border-left: 4px solid #ffcf85;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}

.emonline_job_li_title .glyphicon {
    color: #999;
}

.emonline_job_li_title .glyphicon:hover {
    color: #333;
}

.emonline_job_enterpriseTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding-top: 15px;
}

.emonline_job_enterpriseLi {
    /*background:#f5f5f5;*/
    width: 49%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    height: 160px;
    overflow: hidden;
    border-top: 4px solid #ffcf85;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    background: #fff url(../img/iconBg.png);
    background-position: center center;
    background-size: 20%;
    background-repeat: repeat;
}

.emonline_job_enterpriseLi:hover {
    background: #eee url(../img/iconBg.png);
    background-position: center center;
    background-size: 20%;
    background-repeat: repeat;
}

.emonline_job_enterpriseLi a {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emonline_job_enterpriseLi img {
    width: 22%;
}

.emonline_job_enterpriseLi img.mkswLogo {
    width: 12%;
}

.emonline_job_enterpriseTitleM {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding-top: 15px;
}

.emonline_job_enterpriseLiM {
    /*background:#f5f5f5;*/
    width: 49%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    height: 160px;
    overflow: hidden;
    border-top: 4px solid #ffcf85;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    background: #fff url(../img/iconBg.png);
    background-position: center center;
    background-size: 20%;
    background-repeat: repeat;
}

.emonline_job_enterpriseLiM a {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emonline_job_enterpriseLiM img {
    width: 22%;
}

.emonline_job_enterpriseLiM img.mkswLogo {
    width: 12%;
}

.emonline_job_enterpriseArrow {
    color: #ccc;
    position: absolute;
    right: 10px;
    bottom: 8px;
    font-size: 18px;
}

.emonline_job_li_info {
    padding: 20px 30px 35px 30px;
    display: none;
    text-indent: 25px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 0px 90px 15px 90px;
    line-height: 30px;
}

.emonline_job_li_contact {
    padding: 15px 30px 15px 30px;
    display: none;
    /*text-indent:25px;*/
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 0px 90px 15px 90px;
    line-height: 25px;
    background: linear-gradient(to right, #fff2db, #fffdf9);
}

.transformDiv {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* Internet Explorer */
    -moz-transform: rotate(180deg);
    /* Firefox */
    -webkit-transform: rotate(180deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(180deg);
    /* Opera */
}


/*.emonline_job_firstUl li{position:relative;}*/

.emonline_job_li_contactIn {
    margin-bottom: 5px;
}

.emonline_job_li_contactTitle {
    font-weight: bold;
    line-height: 30px;
    color: #ff8a00;
}

.emonline_job_li_contactText {
    text-indent: 25px;
}

#emonline_job_li_ytd .emonline_job_li_info {
    background: #fff url(../img/ytdbg.png) no-repeat;
    background-position: bottom right;
}

#emonline_job_li_mksw .emonline_job_li_info {
    background: #fff url(../img/mkswbg.png) no-repeat;
    background-position: bottom right;
}

#emonline_job_li_xyd .emonline_job_li_info {
    background: #fff url(../img/xydbg.png) no-repeat;
    background-position: bottom right;
}

#emonline_job_li_xn .emonline_job_li_info {
    background: #fff url(../img/xnbg.png) no-repeat;
    background-position: bottom right;
}

.emonline_job_back {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transform: rotateY(180deg);
    cursor: pointer;
}

.emonline_job_li_left {
    padding-top: 15px;
    font-size: 16px;
}

.emonline_job_li_left img {
    width: 70px;
    padding-top: 30px;
}

.emonline_job_li_right {
    width: 75%;
}

.emonline_job_li_right dl dt {
    line-height: 30px;
}

.emonline_job_li_right dl dd {
    line-height: 25px;
    color: #666;
    text-align: justify;
}

.emonline_job_button_out {
    display: flex;
    justify-content: flex-end;
}

.emonline_job_button_out button {
    padding: 5px 30px;
    color: #fff;
    background: rgba(2, 178, 181, 1);
    border: none;
    outline: none;
}

.emonline_job_button_out button:hover {
    background: rgba(2, 178, 181, 0.8);
}

#easiRecruitmentModal .modal-content {
    background: #fff;
}

.jobModal_ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.jobModal_ul>li {
    font-weight: bold;
    width: 100%;
    margin: 15px auto 0 auto;
}

.jobModal_form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobModal_form input {
    height: 34px;
    border: 1px solid #dadada;
    width: 100%;
    background: none;
}

.jobModal_form select {
    height: 34px;
    border: 1px solid #dadada;
    width: 100%;
    background: none;
    font-weight: normal;
    color: #666;
}

.jobModal_form span {
    color: red;
    margin-left: 15px;
}

.jobModal_update {
    display: flex;
    align-items: center;
    color: #666;
    font-weight: normal;
    outline: none;
}

.jobModal_update_button {
    padding: 8px 45px;
    border: 1px solid #dadada;
    background: #f5f5f5;
}

.jobModal_update_button:hover {
    background: #eee;
}

.jobModal_update .fa {
    color: #7fb7ef;
    margin-left: 15px;
}

.jobModal_update_tip {
    margin-left: 5px;
}

.jobModal_update_point {
    margin-left: 15px;
    color: red;
}

.jobModal_submit_button {
    background: rgba(133, 195, 0, 1);
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 75px;
    margin-bottom: 20px;
}

.jobModal_submit_button:hover {
    background: rgba(133, 195, 0, 0.8);
}

.jobModal_delete_button {
    border: 1px solid #dadada;
    background: #eee;
    border: none;
    outline: none;
    padding: 10px 75px;
    margin: 0px 15px 20px 0px;
}

.jobModal_delete_button:hover {
    background: #dadada;
}

.jobModal_update_file {
    margin-top: 10px;
    border: 1px solid #dadada;
    position: relative;
    display: none;
    padding: 5px 10px;
}

.jobModal_update_delete {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -8px;
    top: -8px;
    cursor: pointer;
    font-size: 10px;
}

.emOnlineHelp_back {
    height: 60px;
    /* background:#fff; */
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0px 15px 0px 0px;
    z-index: 99;
}

.comm_up_button {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
    cursor: pointer;
    margin-left: 15px;
}

.comm_up_button {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
    cursor: pointer;
    margin-left: 15px;
}

.comm_up_button:hover>.comm_up_button_left {
    background: rgba(255, 213, 0, 0.8);
}

.comm_up_button:hover>.comm_up_button_right {
    background: rgba(243, 95, 0, 0.8);
}

.comm_up_button img {
    width: 16px;
}

.comm_up_button_left {
    height: 35px;
    padding: 0px 9px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #FFD500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.comm_up_button_left span {
    white-space: nowrap;
}

.comm_up_button_left img {
    margin-right: 7px;
}

.comm_up_button_right {
    height: 35px;
    padding: 0px 13px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #F35F00;
    display: flex;
    justify-content: center;
    align-items: center;
}

#easiRecruitmentModal .modal-body .row {
    margin: 5px 20px 0px 20px;
}

@media (max-width: 640px) {
    .emonline_job_con {
        margin: 0px auto;
        background: #eee;
        padding-bottom: 20px;
    }
    /* .emonline_job_conM {
        display: none;
    } */
    .emOnlineHelp_back {
        height: 50px;
        padding: 0px 10px 0px 0px;
    }
    .comm_up_button_left {
        min-width: 102px;
    }
    .emonline_job_secondUl>li {
        padding: 15px 15px;
    }
    .emonline_job_li_bottom {
        flex-wrap: wrap;
    }
    .emonline_job_li_right {
        width: 100%;
    }
    .emonline_job_li_left {
        font-weight: bold;
    }
    .emonline_job_li_left img {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #easiRecruitmentModal .modal-body .row {
        margin: 0px;
    }
    .jobModal_update_button {
        padding: 8px 25px;
    }
    .jobModal_submit_button {
        padding: 10px 40px;
    }
    .jobModal_delete_button {
        padding: 10px 40px;
    }
    .job_in_img {
        display: none;
    }
    .job_in_img_mobile {
        display: inline-block;
    }
    .emonline_job_secondUl {
        padding: 0px 15px;
    }
    .emonline_job_li_title {
        padding: 30px 15px;
        font-size: 18px;
        justify-content: center;
    }
    .emonline_job_enterpriseLiM {
        margin-bottom: 10px;
        background: #fff url(../img/iconBg.png);
        background-position: center center;
        background-size: 50%;
        background-repeat: repeat;
    }
    .emonline_job_li_info {
        padding: 5px 15px 20px 15px;
        margin: 0px 15px 15px 15px;
    }
    .emonline_job_li_contact {
        padding: 5px 15px 20px 15px;
        margin: 0px 15px 15px 15px;
    }
    .emonline_job_enterpriseTitle {
        display: none;
    }
    .emonline_job_enterpriseLi img {
        width: 65%;
    }
    .emonline_job_enterpriseLi img.mkswLogo {
        width: 40%;
    }
    .emonline_job_enterpriseTitleM {
        display: flex;
    }
    .emonline_job_enterpriseLiM img {
        width: 65%;
    }
    .emonline_job_enterpriseLiM img.mkswLogo {
        width: 40%;
    }
}