body {
    margin: 0;
    padding: 0;
    font-family: PingFang SC, Source Han Sans CN, Source Han Serif SC;
    letter-spacing: 1.2px;
    font-size: 14px;
    min-width: 0;
    user-select: none;
    background-color: #eee;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.fa {
    cursor: pointer;
}

.flexDiv {
    display: flex;
    align-items: center;
}

.purchaseCheckCon {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: border-box;
}

.purchaseCheckNumber {
    font-size: 22px;
    padding: 45px 0px 20px 0px;
}

.purchaseCheckLi {
    background: #fff;
    padding: 18px 15px;
    margin-bottom: 15px;
}

.purchaseCheckTable ul {
    display: flex;
}

.purchaseCheckTable ul li {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    text-align: center;
}

.purchaseCheckTable ul li:last-child {
    width: 40%;
}

.purchaseCheckTableUp {
    background: #345345;
    color: #fff;
}

.purchaseCheckTableDown li {
    border: 1px solid #D7D8D9;
}

.purchaseCheckOrderLiLeft {
    width: 80%;
}

.purchaseCheckOrderLiRight {
    width: 20%;
}

.purchaseCheckOrderLiTitle {
    color: #000;
    font-size: 22px;
    margin-bottom: 8px;
}

.purchaseCheckOrderLiLabel {
    display: flex;
    flex-wrap: wrap;
    color: #9e9e9e;
    font-size: 14px;
}

.purchaseCheckOrderLiLabel>li {
    margin-right: 15px;
    white-space: nowrap;
}

.purchaseCheckOrderLiPrice {
    display: flex;
    justify-content: flex-end;
    color: #F5222D;
    font-size: 22px;
    margin-bottom: 8px;
}

.purchaseCheckOrderLiNumber {
    display: flex;
    justify-content: flex-end;
    color: #9e9e9e;
    font-size: 14px;
}

.purchaseCheckAll {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0px;
}

.purchaseCheckAllNumber {
    color: #979797;
    margin-right: 15px;
}

.purchaseCheckReal {
    font-size: 20px;
    text-align: right;
    padding: 5px 0px;
}

.purchaseCheckRealName {
    color: #979797;
}

.purchaseCheckRealNumber {
    font-weight: 600;
    color: #F5222D;
}

.purchaseCheckSubmit {
    justify-content: flex-end;
    font-size: 12px;
    margin-top: 30px;
}

.purchaseCheckSubmitText {
    color: #7D7D7D;
}

.purchaseCheckSubmitBtn {
    color: #fff;
    background: #FF4D4F;
    border: 1px solid #E04900;
    font-size: 16px;
    padding: 5px 20px;
    margin-left: 15px;
}

.purchaseCheckSubmitBtn:hover {
    background: #E04900;
}

.purchaseCheckDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.purchaseCheckTitleTop {
    font-size: 22px;
}

.purchaseCheckPriceTop {
    font-size: 22px;
    color: #F5222D;
}

.purchaseCheckTimeName {
    font-size: 16px;
    color: #444;
}

.purchaseCheckTimeValue {
    font-size: 14px;
}

.purchaseCheckTimeValue .dropdown-menu {
    min-width: 100%;
    overflow: hidden;
}

.purchaseCheckTimeValue .dropdown-menu>li>a {
    padding: 3px 12px;
}

.purchaseCheckTimeValue button {
    border: none;
    padding: 3px 0px;
}

.purchaseCheckTimeValue button:hover {
    background: #fff;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    background: #fff;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}

.btn.active,
.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}

.purchaseCheckTimeValue button span {
    background: #fff;
    margin-right: 5px;
}

.purchaseCheckTimeValue button span:last-child {
    margin-right: 0px;
}

@media ( max-width: 640px) {
    .purchaseCheckTextIcon {
        width: 34px;
        height: 34px;
        min-width: 34px;
        margin-left: -10px;
    }
    .purchaseCheckTextUp {
        font-size: 14px;
        font-weight: 600;
    }
    .purchaseCheckTextDown {
        font-size: 12px;
    }
    .purchaseCheckTextWord {
        margin-left: 15px;
    }
    .purchaseCheckNumber {
        padding: 20px 0px;
    }
    .purchaseCheckLi {
        padding: 18px 10px;
    }
    .purchaseCheckTable ul li {
        font-size: 12px;
    }
    .purchaseCheckTable ul li:last-child {
        width: 30%;
    }
    .purchaseCheckTable ul li:first-child {
        width: 30%;
    }
    .purchaseCheckSubmit {
        flex-wrap: wrap;
    }
    .purchaseCheckSubmitOut {
        margin-top: 15px;
    }
    .purchaseCheckAll {
        justify-content: flex-start;
    }
    .purchaseCheckReal {
        text-align: left;
    }
    /* 弹出框移动端样式 */
    .purchaseCheckJump {
        width: 96%;
        top: 1%;
        left: 2%;
        max-height: 99%;
        margin-left: 0;
        margin-top: 0;
        border: 2px solid rgba(151, 151, 151, 0.38);
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .purchaseCheckJumpTab {
        padding: 15px;
    }
    .purchaseCheckJumpTab>li {
        font-size: 14px;
        margin-right: 0px;
        min-height: 54px;
        min-width: 0px;
    }
    .purchaseCheckJumpUlCon {
        padding: 15px;
    }
    .purchaseCheckJumpBtns {
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }
    .purchaseCheckJumpBtns button:last-child {
        margin-right: 0px;
    }
    .purchaseCheckOrderLiLeft {
        width: 100%;
    }
    .purchaseCheckOrderLiRight {
        width: 100%;
    }
    .purchaseCheckOrderLiPrice {
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .purchaseCheckOrderLiNumber {
        justify-content: flex-start;
    }
    .purchaseCheckOrderLiRight {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
    }
}