html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: PingFang SC, Source Han Sans CN, Source Han Serif SC;
    letter-spacing: 1.2px;
    font-size: 14px;
    min-width: 0;
    user-select: none;
    background-color: #DAE0DC;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

input[type="text"] {
    -webkit-appearance: none;
}

.fa {
    cursor: pointer;
}

.flexDiv {
    display: flex;
    align-items: center;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #3a7bd5;
}

#moveDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    /* height: 4200px; */
    /* cursor: move; */
    /* cursor: url(../img/hand.ico), auto; */
}

#moveDiv>img {
    width: 100%;
}

.imgActive img {
    position: absolute;
    left: 0px;
    display: none;
    width: 100%;
}

.firstFloor {
    bottom: 0;
}

.secondFloor {
    bottom: 15.5%;
}

.thirdFloor {
    top: 38.1%;
}

.fouthFloor {
    top: 19.5%;
}

.fifthFloor {
    top: 6.8%;
}

.guanName>div {
    border: 2px solid #000;
    position: absolute;
    background: #fff;
}

.guanNameC {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.guanNameE {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
}

.guanTui {
    display: none;
    font-size: 14px;
    border-top: 2px solid #000;
    padding: 10px;
}

.guanTui li {
    margin-bottom: 8px;
    color: #00a2e9;
    cursor: pointer;
}

.guanTui li:hover {
    text-decoration: underline;
}

.guanTui li:last-child {
    margin-bottom: 0;
}

.greenName {
    background: #2bff0d;
    padding: 5px 10px;
    cursor: pointer;
}

.orangeName {
    background: #ffed0d;
    padding: 5px 10px;
    cursor: pointer;
}

.purpleName {
    background: #e8d7ff;
    padding: 5px 10px;
    cursor: pointer;
}

.redName {
    background: #ffa6a6;
    padding: 5px 10px;
    cursor: pointer;
}

.blueName {
    background: #62e3ed;
    padding: 5px 10px;
    cursor: pointer;
}

.bpqguan {
    bottom: 3%;
    left: 54%;
}

.djguan {
    bottom: 8%;
    left: 34%;
}

.zhouguan {
    bottom: 16%;
    left: 80%;
}

.jkguan {
    bottom: 31%;
    left: 68%;
}

.guiguan {
    bottom: 24%;
    left: 44%;
}

.cgguan {
    bottom: 29%;
    left: 36%;
}

.cpguan {
    bottom: 20%;
    left: 14%;
}

.zcguan {
    bottom: 29%;
    left: 6%;
}

.bzjguan {
    top: 38%;
    left: 8%;
}

.jsguan {
    top: 38%;
    left: 42%;
}

.fsguan {
    top: 53%;
    left: 46%;
}

.jyclguan {
    top: 45%;
    left: 74%;
}

.dxguan {
    top: 50%;
    left: 83%;
}

.cssbguan {
    top: 32%;
    left: 82%;
}

.zzsbguan {
    top: 15%;
    left: 53%;
}

.qtguan {
    top: 10%;
    left: 18%;
}

.guanPoint>div {
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 99;
}

.guanPoint>div>img {
    width: 100%;
    height: 100%;
}

.bpqPoint {
    bottom: 9%;
    left: 54%;
}

.djPoint {
    bottom: 14%;
    left: 34%;
}

.zhouPoint {
    bottom: 24%;
    left: 78%;
}

.jkPoint {
    bottom: 25%;
    left: 62%;
}

.guiPoint {
    bottom: 32%;
    left: 53%;
}

.cgPoint {
    bottom: 36%;
    left: 38%;
}

.cpPoint {
    bottom: 25%;
    left: 21%;
}

.zcPoint {
    bottom: 33%;
    left: 16%;
}

.bzjPoint {
    top: 46%;
    left: 18%;
}

.jsPoint {
    top: 46%;
    left: 38%;
}

.fsPoint {
    top: 48%;
    left: 50%;
}

.jyclPoint {
    top: 52%;
    left: 69%;
}

.dxPoint {
    top: 58%;
    left: 78%;
}

.cssbPoint {
    top: 32%;
    left: 72%;
}

.zzsbPoint {
    top: 28%;
    left: 53%;
}

.qtPoint {
    top: 10%;
    left: 30%;
}

.rightContrl {
    position: fixed;
    right: 0;
    top: 80px;
    color: #ffffff;
    z-index: 999;
    min-width: 262px;
    width: 262px;
    font-size: 12px;
    padding-left: 22px;
}

.rightContrlIn {
    background: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 10px;
    width: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-arrow-color: #ccc;
    /**/
    /*三角箭头的颜色*/
    scrollbar-face-color: #333;
    /**/
    /*立体滚动条的颜色*/
    scrollbar-3dlight-color: #666;
    /**/
    /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #666;
    /**/
    /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #999;
    /**/
    /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #666;
    /**/
    /*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #666;
    /**/
    /*立体滚动条背景颜色*/
    scrollbar-base-color: #f8f8f8;
    /**/
    /*滚动条的基本颜色*/
}

.rightContrlIn::-webkit-scrollbar {
    /*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）（位置1）*/
    width: 8px;
    height: 5px;
}

.rightContrlIn::-webkit-scrollbar-button {
    /*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置2）*/
    background: #222;
}

.rightContrlIn::-webkit-scrollbar-track {
    /*外层轨道，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置3）*/
    background: #222;
}

.rightContrlIn::-webkit-scrollbar-track-piece {
    /*内层轨道，滚动条中间部分（位置4）*/
    background: #222;
}

.rightContrlIn::-webkit-scrollbar-thumb {
    /*滚动条里面可以拖动的那部分（位置5）*/
    background: #999;
    border-radius: 4px;
}

.rightContrlIn::-webkit-scrollbar-corner {
    /*边角（位置6）*/
    background: #222;
}

.rightContrlIn::-webkit-scrollbar-resizer {
    /*定义右下角拖动块的样式（位置7）*/
    background: #222;
}

.rightContrlSlogan {
    background: #269B67;
    width: 100%;
    text-align: center;
    padding: 5px 5px;
    font-size: 16px;
}

.rightContrlDiv {
    width: 100%;
    margin-bottom: 8px;
    background: #222;
    padding: 10px;
}

.rightContrlNameBig {
    text-align: center;
}

.rightContrlNumberBig {
    margin-top: 5px;
    color: #EC4A04;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.rightContrlTitle {
    color: #979797;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 5px;
    margin-bottom: 2px;
    border-bottom: 1px solid #444444;
}

.rightContrlUlOut {
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.rightContrlUl {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.rightContrlUl2 {
    display: none;
}

.rightContrlUl li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #444444;
    padding: 3px 0px;
}

.rightContrlName {
    color: #0189FF;
    cursor: pointer;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rightContrlName:hover {
    text-decoration: underline;
}

.rightContrlUser {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.rightContrlButton {
    background: #FF6220;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.rightContrlButton:hover {
    background: #d4521b;
}

.rightContrlButton img {
    height: 16px;
}

.rightContrlTou {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.rightContrlGuideTitle {
    text-align: center;
    padding-bottom: 10px;
}

.rightContrlGuideMain {
    display: flex;
    justify-content: space-between;
}

.rightContrlGuideImg {
    width: 160px;
    height: 177px;
    position: relative;
    /* cursor: pointer; */
}

.rightContrlGuideUl {
    width: 100%;
}

.rightContrlGuideUl li {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444444;
    font-size: 14px;
    cursor: pointer;
}

.rightContrlGuideUl li:hover {
    background: #FF6220;
}

.rightContrlGuideUl li.rightContrlGuideOn {
    background: #FF6220;
}

.toRightMove {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -67px;
    height: 134px;
    width: 22px;
    background: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.toLeftMove {
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -67px;
    height: 134px;
    width: 22px;
    background: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}


/* .guideActive img {
    position: relative;
    width: 160px;
    display: none;
    left: 0;
} */

.guideActive {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.guideActive li {
    display: none;
    height: 20%;
    width: 100%;
    padding: 5px;
    background: #000;
    color: #fff;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
}

.guideActiveFifth {
    top: 0px;
}

.guideActiveFouth {
    top: 20%;
}

.guideActiveThird {
    top: 40%;
}

.guideActiveSecond {
    top: 60%;
}

.guideActiveFirst {
    top: 80%;
}

.piontJump {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -73px;
    width: 146px;
    top: -55px;
    height: 55px;
}

.piontJumpOut {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    width: 100%;
    height: 45px;
}

.piontJumpIn {
    background: #222;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
}

.piontJumpNumber {
    font-size: 14px;
    margin-left: 5px;
    color: #EC4A04;
    font-weight: 600;
}

.piontJumpThree {
    height: 10px;
    width: 8px;
    opacity: 0.6;
    bottom: 0px;
    position: absolute;
    left: 68px;
}

.searchDiv {
    position: fixed;
    top: 80px;
    left: 35%;
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.searchDivSelect {
    background: #fff;
    border-right: 1px solid #E5E5E5;
    position: relative;
    height: 100%;
}

.searchDivSelectValue {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    white-space: nowrap;
    cursor: pointer;
}

.searchDivSelectValue .fa-angle-down {
    font-size: 22px;
    color: #269B67;
    margin-left: 8px;
}

.searchSelectTransform {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.searchDivSelectUl {
    display: none;
    position: absolute;
    left: 0;
    min-width: 100%;
    background: #fff;
    top: 39px;
    padding: 5px 10px;
    border-top: 1px solid #E5E5E5;
    z-index: 9999;
}

.searchDivSelectUl li {
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 5px;
}

.searchDivSelectUl li:last-child {
    margin-bottom: 0px;
}

.searchDivSelectUl li:hover {
    color: #269B67;
}

.searchDivIpt {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
}

.searchDivIpt input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0px 5px;
}

.searchDivBtn {
    height: 100%;
    width: 76px;
    background: #269B67;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

.searchDivBtn:hover {
    background: #228a5c;
}

@media (max-width:640px) {
    .rightContrl {
        top: 97px;
    }
    .searchDiv {
        top: 65px;
        height: 30px;
        left: 10%;
        width: 80%;
    }
    .searchDivSelectUl {
        top: 30px;
    }
    .main {
        overflow-x: scroll;
        overflow-y: scroll;
    }
    #moveDiv {
        width: 400%;
    }
    .rightContrlGuide {
        display: none;
    }
}