body {
    margin: 0;
    padding: 0;
    font-family: PingFang SC, Source Han Sans CN, Source Han Serif SC;
    letter-spacing: 1.2px;
    font-size: 14px;
    min-width: 0;
    user-select: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.fa {
    cursor: pointer;
}

.flexDiv {
    display: flex;
    align-items: center;
}


/* 弹出框样式 */

.exhibitionPayJump {
    position: fixed;
    width: 600px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -310px;
    background: #fff;
    z-index: 999;
    border: 6px solid rgba(151, 151, 151, 0.38);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.exhibitionPayJumpTitle {
    background: #EFEFEF;
    font-size: 18px;
    padding: 10px 15px;
}

.exhibitionPayJumpTab {
    padding: 20px 20px;
    justify-content: center;
    border-bottom: 2px solid #EFEFEF;
}

.exhibitionPayJumpTab>li {
    min-width: 26%;
    padding: 8px 8px;
    border: 2px solid #EFEFEF;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin-right: 25px;
}

.exhibitionPayJumpTab>li:last-child {
    margin-right: 0px;
}

.exhibitionPayJumpTab>li.exhibitionPayJumpTabOn {
    border: 2px solid #00A0E9;
}

.exhibitionPayJumpTab>li .jumpCheck {
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 18px;
    width: 20px;
}

.exhibitionPayJumpTab>li.exhibitionPayJumpTabOn .jumpCheck {
    display: block;
}

.exhibitionPayJumpTab>li:hover {
    border: 2px solid #00A0E9;
}

.exhibitionPayJumpTab>li:last-child {
    margin-right: 0px;
}

.exhibitionPayJumpUlCon {
    padding: 20px 40px;
}

.exhibitionPayJumpUlOut {
    display: none;
}

.exhibitionPayJumpUlOut>ul>li {
    display: flex;
    margin-bottom: 18px;
}

.exhibitionPayJumpUlOut>ul>li.exhibitionJumpLiCompany {
    display: none;
}

.exhibitionPayJumpName {
    min-width: 110px;
    margin-right: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

.exhibitionPayJumpNameCheck {
    height: 34px;
}

.exhibitionPayJumpNameUp {
    color: #B60006;
    display: inline-block;
    min-width: 8px;
}

.exhibitionPayJumpNameDown {
    font-size: 14px;
}

.exhibitionPayJumpValue {
    width: 100%;
    position: relative;
}

.exhibitionJumpCustCheck {
    display: flex;
    align-items: center;
}

.exhibitionJumpCustCheck li {
    border: 2px solid #eee;
    cursor: pointer;
    position: relative;
    padding: 5px 20px;
    margin-right: 20px;
    white-space: nowrap;
}

.exhibitionJumpCustCheck li:last-child {
    margin-right: 0px;
}

.exhibitionJumpCustCheck li .jumpCheck {
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 15px;
    width: 18px;
}

.exhibitionJumpCustCheck li:hover {
    border: 2px solid #00A0E9;
}

.exhibitionJumpCustCheck li.exhibitionCustCheckOn {
    border: 2px solid #00A0E9;
}

.exhibitionJumpCustCheck li.exhibitionCustCheckOn .jumpCheck {
    display: block;
}

.exhibitionPayJumpIpt {
    width: 100%;
    border: 1px solid #eee;
    height: 30px;
    padding: 0px 8px;
    font-size: 14px;
    outline: none;
}

.exhibitionPayJumpIpt::-webkit-input-placeholder {
    /* WebKit browsers 适配谷歌 */
    color: #979797;
}

.exhibitionPayJumpIpt:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 适配火狐 */
    color: #979797;
}

.exhibitionPayJumpIpt::-moz-placeholder {
    /* Mozilla Firefox 19+ 适配火狐 */
    color: #979797;
}

.exhibitionPayJumpIpt:-ms-input-placeholder {
    /* Internet Explorer 10+  适配ie*/
    color: #979797;
}

.exhibitionPayJumpIpt1 {
    width: 100%;
    border: 1px solid #fff;
    height: 30px;
    padding: 0px 8px;
    font-size: 14px;
    outline: none;
}

.exhibitionPayJumpSelect {
    height: 30px;
    width: 100%;
    border: 1px solid #eee;
    justify-content: space-between;
    padding: 0px 8px;
}

.exhibitionPayJumpSelect .fa-angle-down {
    color: #269B67;
    font-size: 20px;
}

.exhibitionPayJumpSelectUl {
    padding: 8px;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 99;
    background: #f6f6f6;
    border: 1px solid #ddd;
    width: 100%;
    display: none;
}

.exhibitionPayJumpSelectUl li {
    cursor: pointer;
    margin-bottom: 5px;
}

.exhibitionPayJumpSelectUl li:last-child {
    margin-bottom: 0px;
}

.exhibitionPayJumpSelectUl li:hover {
    color: #00A0E9;
}

.jumpSelectTransform {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.exhibitionPayJumpBtns {
    padding-left: 120px;
    margin-top: 10px;
}

.exhibitionPayJumpBtns button {
    padding: 5px 45px;
    background: #efefef;
    margin-right: 10px;
}

.exhibitionPayJumpBtns button.exhibitionPayJumpBtn2 {
    background: #00A0E9;
    color: #fff;
}

.exhibitionPayJumpBtns button.exhibitionPayJumpBtn1:hover {
    background: #cec9c9;
}

.exhibitionPayJumpBtns button.exhibitionPayJumpBtn2:hover {
    background: #0a82b9;
}

@media (max-width: 640px) {
    .exhibitionPayTextIcon {
        width: 34px;
        height: 34px;
        min-width: 34px;
    }
    .exhibitionPayTextUp {
        font-size: 14px;
        font-weight: 600;
    }
    .exhibitionPayTextDown {
        font-size: 12px;
    }
    .exhibitionPayTextWord {
        margin-left: 15px;
    }
    .exhibitionPayNumber {
        padding: 20px 0px;
    }
    .exhibitionPayLi {
        padding: 18px 10px;
    }
    .exhibitionPayTable {
        display: flex;
    }
    .exhibitionPayTable ul {
        display: block;
    }
    .exhibitionPayTable ul li {
        width: 100%;
        text-align: left;
        padding: 10px 5px;
    }
    .exhibitionPayTable ul.exhibitionPayTableUp li {
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
    }
    .exhibitionPayTable ul li:last-child {
        width: 100%;
    }
    .exhibitionPayCheck {
        min-width: 12px;
    }
    .exhibitionPayCheckIn {
        min-width: 6px;
    }
    .exhibitionPayWay {
        flex-wrap: wrap;
    }
    .exhibitionPayWay li {
        padding: 10px;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    .exhibitionPayInfoTip {
        line-height: 1.2;
    }
    .exhibitionPaySubmit {
        flex-wrap: wrap;
    }
    .exhibitionPaySubmitOut {
        margin-top: 15px;
    }
    .exhibitionPayAll {
        text-align: left;
    }
    .exhibitionPayReal {
        text-align: left;
    }
    /* 弹出框移动端样式 */
    .exhibitionPayJump {
        width: 96%;
        top: 1%;
        left: 2%;
        max-height: 99%;
        margin-left: 0;
        margin-top: 0;
        border: 2px solid rgba(151, 151, 151, 0.38);
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .exhibitionPayJumpTab {
        padding: 15px;
    }
    .exhibitionPayJumpTab>li {
        font-size: 14px;
        margin-right: 0px;
        min-height: 54px;
        min-width: 0px;
    }
    .exhibitionPayJumpUlCon {
        padding: 15px;
    }
    .exhibitionPayJumpBtns {
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }
    .exhibitionPayJumpBtns button:last-child {
        margin-right: 0px;
    }
    .exhibitionJumpCustCheck li {
        padding: 5px 15px;
    }
}